body {
    font-family: 'IBM Plex Serif', serif;
    background-color: #343131;
    margin: 0;
}

.header {
    width: 100%;
    margin: 0 auto;
}

.container {
    width: 98%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: auto;
    gap: 10px;
    font-family: monospace;
    font-size: 12pt;
}

.container * {
    box-sizing: border-box;
}

.card {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

.card-content {
    line-height: 1.5em;
    font-size: .9em;
    padding: 15px;
    background: #05386b;
    color: #eaeaea;
}

.card-content>p:first-of-type {
    margin-top: 0;
    font-size: 1.2em;
    font-weight: bold;
}

.card-content>p:last-of-type {
    margin-bottom: 0;
    font-style: italic;
    font-size: 1.1em;
    height: 100px;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.card-info {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    color: #eaeaea;
    background: #05386b;
}

.card-info>div>span:first-of-type {
    font-size: 2em;
    margin-right: 5px;
    font-weight: bold;
    vertical-align: top;
}

.card-info>div>span.price {
    font-size: 1.8em;
}

.card-info button {
    font-size: 1.1em;
    font-weight: bold;
    padding: 11px;
    background-color: #379683;
    border-color: #05386b;
    color: #ffffff;
}

/* nav */

.topnav {
    overflow: hidden;
    background-color: #05386b;
    margin-bottom: 15px;
    /* padding: 1em; */
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* font-size: 1.2em; */
    font-weight: bold;
}

.topnav a:hover {
    background-color: #5cdb95;
    color: black;
}