<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd">
	
	
	<bean id="dateFormat" class="java.text.SimpleDateFormat">
		<constructor-arg value="yyyy-MM-dd" />
	</bean>

	<bean id="sandwich" name="sandwich"
		class="com.cognizant.truyum.model.MenuItem">
		<property name="id" value="1" />
		<property name="name" value="Sandwich" />
		<property name="price" value="99.00" />
		<property name="active" value="true" />
		<property name="dateOfLaunch">
			<bean factory-bean="dateFormat" factory-method="parse">
				<constructor-arg value="2017-03-15" />
			</bean>
		</property>
		<property name="category" value="Main Course" />
		<property name="freeDelivery" value="true" />
	</bean>

	<bean id="burger" name="burger"
		class="com.cognizant.truyum.model.MenuItem">
		<property name="id" value="2" />
		<property name="name" value="Burger" />
		<property name="price" value="129.00" />
		<property name="active" value="true" />
		<property name="dateOfLaunch">
			<bean factory-bean="dateFormat" factory-method="parse">
				<constructor-arg value="2017-12-23" />
			</bean>
		</property>
		<property name="category" value="Main Course" />
		<property name="freeDelivery" value="false" />
	</bean>

	<bean id="pizza" name="pizza"
		class="com.cognizant.truyum.model.MenuItem">
		<property name="id" value="3" />
		<property name="name" value="Pizza" />
		<property name="price" value="149.00" />
		<property name="active" value="true" />
		<property name="dateOfLaunch">
			<bean factory-bean="dateFormat" factory-method="parse">
				<constructor-arg value="2018-08-21" />
			</bean>
		</property>
		<property name="category" value="Main Course" />
		<property name="freeDelivery" value="false" />
	</bean>
	<bean id="fries" name="fries"
		class="com.cognizant.truyum.model.MenuItem">
		<property name="id" value="4" />
		<property name="name" value="French Fries" />
		<property name="price" value="57.00" />
		<property name="active" value="false" />
		<property name="dateOfLaunch">
			<bean factory-bean="dateFormat" factory-method="parse">
				<constructor-arg value="2017-07-02" />
			</bean>
		</property>
		<property name="category" value="Starters" />
		<property name="freeDelivery" value="true" />
	</bean>
	<bean id="brownie" name="brownie"
		class="com.cognizant.truyum.model.MenuItem">
		<property name="id" value="5" />
		<property name="name" value="Chocolate Brownie" />
		<property name="price" value="32.00" />
		<property name="active" value="true" />
		<property name="dateOfLaunch">
			<bean factory-bean="dateFormat" factory-method="parse">
				<constructor-arg value="2022-11-02" />
			</bean>
		</property>
		<property name="category" value="Dessert" />
		<property name="freeDelivery" value="true" />
	</bean>
	<bean id="menuItems" name="menuItems"
		class="com.cognizant.truyum.dao.MenuItemDaoCollectionImpl">
		<constructor-arg>
			<list>
				<ref bean="sandwich" />
				<ref bean="burger" />
				<ref bean="pizza" />
				<ref bean="fries" />
				<ref bean="brownie" />
			</list>
		</constructor-arg>
	</bean>
</beans>